@media only screen and (max-width: 991px) {
  .mainbox .nav-pc {
    display: none;
  }
  .mainbox .nav-mb {
    overflow: hidden !important;
    z-index: 2;
    position: absolute;
    width: 100%;
    min-height: 48px;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
  }
  .mainbox .nav-mb .top {
    height: 48px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .mainbox .nav-mb .top .icon {
    height: 48px;
    display: flex;
    align-items: center;
  }
  .mainbox .nav-mb .top .icon img {
    height: 32px;
  }
  .mainbox .nav-mb .top .list {
    display: flex;
    height: 48px;
    align-items: center;
  }
  .mainbox .nav-mb .top .list .link {
    color: white;
    font-size: 18px;
    font-weight: 900;
    text-decoration: none;
    margin-left: 40px;
    transition: all 0.3s ease;
  }
  .mainbox .nav-mb .top .list .link:hover {
    filter: brightness(80%);
  }
  .mainbox .nav-mb .top .list .store {
    letter-spacing: 0.5px;
    font-weight: 900;
    background: linear-gradient(to right, #fff 20%, #ff0 40%, #ff0 60%, #fff 80%);
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 4s linear infinite;
  }
  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }
  .mainbox .nav-mb .top .list .menuIcon {
    height: 48px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .mainbox .nav-mb .top .list .menuIcon i {
    color: white;
    font-size: 24px;
    transition: all 0.3s ease;
  }
  .mainbox .nav-mb .top .list .menuIcon .open {
    transform: rotate(180deg);
  }
  .mainbox .nav-mb .bottom {
    max-height: 0;
    margin-top: 10px;
  }
  .mainbox .nav-mb .bottom a {
    opacity: 0;
    color: white;
    margin-bottom: 10px;
    line-height: 2;
    font-weight: 900;
    font-size: 18px;
    text-decoration: none;
    transition: opacity 1s ease;
  }
}
@media only screen and (min-width: 992px) {
  .mainbox .nav-mb {
    display: none;
  }
  .mainbox .nav-pc {
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 48px;
    background-color: rgba(0, 0, 0, 0.18);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  .mainbox .nav-pc .icon {
    height: 40px;
  }
  .mainbox .nav-pc .icon img {
    height: 40px;
  }
  .mainbox .nav-pc .list a {
    color: white;
    font-size: 18px;
    font-weight: 900;
    text-decoration: none;
    margin-left: 40px;
    transition: all 0.3s ease;
  }
  .mainbox .nav-pc .list a:hover {
    filter: brightness(80%);
  }
  .mainbox .nav-pc .list .store {
    letter-spacing: 0.5px;
    font-weight: 900;
    background: linear-gradient(to right, #fff 20%, #ff0 40%, #ff0 60%, #fff 80%);
    background-size: 200% auto;
    color: #000;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 4s linear infinite;
  }
  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

.mainbox {
  min-height: 100vh;
  max-width: 100%;
  position: relative;
}
.mainbox .black {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  opacity: 0.3;
  background-color: #000;
  z-index: 1;
}
.mainbox .banner {
  position: absolute;
  height: 100vh;
  width: 100vw;
  animation: bgAni 3s ease-out forwards;
  -o-object-fit: cover;
     object-fit: cover; /* Ensures the image covers the screen without distortion */
  -o-object-position: center;
     object-position: center;
}
@media screen and (max-width: 1200px) {
  .mainbox .banner {
    width: 100%;
    height: 100vh;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
}
.mainbox .content {
  z-index: 2;
  padding-top: 25px;
  padding-bottom: 25px;
  position: absolute;
  max-width: 100%;
  height: -moz-max-content;
  height: max-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainbox .content .logoBanner {
  width: 244px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  animation: logoIn 3s ease-out forwards;
}
@keyframes logoIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
.mainbox .content .desc {
  color: white;
  font-size: 18px;
  animation: descIn 3s ease-out forwards;
}
@keyframes descIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.mainbox .content .buttons {
  margin-top: 10px;
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  animation: buttonIn 3s ease-out forwards;
}
.mainbox .content .buttons a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 176px;
  height: 54px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 24px;
  font-weight: 900;
  transition: all 0.5s ease;
}
.mainbox .content .buttons .connect {
  background-color: #ffffff;
  border: 2px solid #ffffff;
  color: black;
}
.mainbox .content .buttons .connect:hover {
  background-color: transparent;
  color: white;
}
.mainbox .content .buttons .discord {
  background-color: #7289da;
  border: 2px solid #7289da;
  color: white;
}
.mainbox .content .buttons .discord:hover {
  background-color: transparent;
}
@keyframes buttonIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@media only screen and (max-width: 430px) {
  .mainbox .content .logoBanner {
    width: 200px;
  }
  .mainbox .content .desc {
    font-size: 16px;
  }
  .mainbox .content .buttons {
    margin-top: 10px;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .mainbox .content .buttons a {
    width: 150px;
    height: 54px;
    font-size: 18px;
  }
}

@keyframes bgAni {
  from {
    transform: scale(1.5);
    filter: blur(2px);
    -webkit-filter: blur(2px);
  }
  to {
    transform: scale(1.1);
    filter: blur(5px);
    -webkit-filter: blur(5px);
  }
}/*# sourceMappingURL=index.css.map */
