* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

.mainbox {
  min-height: 100vh;
  max-width: 100%;
  position: relative;

  .black {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    opacity: 0.3;
    background-color: #000;
    z-index: 1;
  }

  .banner {
    position: absolute;
    height: 100vh;
    width: 100vw;
    animation: bgAni 3s ease-out forwards;
    object-fit: cover; /* Ensures the image covers the screen without distortion */
    object-position: center;
  }

  @media screen and (max-width: 1200px) {
    .banner {
      width: 100%;
      height: 100vh;
      object-fit: cover;
      object-position: center;
    }
  }

  .navbar {
    z-index: 2;
    position: absolute;
    width: 100%;
    height: max-content;
    top: 0;
    left: 0;
    background-color: transparent !important;

    .container-fluid {
      .navbar-brand {
        width: 64px;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
      }

      .collapse {
        ul {
          li {
            a {
              color: white;
              font-weight: 900 !important;
              font-size: 18px;
              transition: filter 0.3s;

              &:hover {
                filter: brightness(70%);
              }
            }

            .store {
              background: linear-gradient(
                to right,
                #fff 20%,
                #ff0 40%,
                #ff0 60%,
                #fff 80%
              );
              background-size: 200% auto;

              color: #000;
              background-clip: text;
              text-fill-color: transparent;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;

              animation: shine 4s linear infinite;
              @keyframes shine {
                to {
                  background-position: 200% center;
                }
              }
            }
          }
        }
      }

      .navbar-toggler {
        border: none;
        outline: none;
        .navbar-toggler-icon {
          transition: all 0.3s ease;
          background-size: contain;
          background-repeat: no-repeat;
          background-image: url("../assets/icons/list.svg");
        }

        .navbar-toggler-icon.open {
          transform: rotate(180deg);
        }

        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
    }
  }

  .content {
    z-index: 2;
    padding-top: 25px;
    padding-bottom: 25px;
    position: absolute;
    max-width: 100%;
    height: max-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;

    .logoBanner {
      width: 244px;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-drag: none;
      -webkit-user-select: none;
      animation: logoIn 3s ease-out forwards;
    }

    @keyframes logoIn {
      from {
        transform: translateY(-20px);
        opacity: 0;
      }
      to {
        transform: translateY(0px);
        opacity: 1;
      }
    }

    .desc {
      color: white;
      font-size: 18px;
      animation: descIn 3s ease-out forwards;
    }

    @keyframes descIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    .buttons {
      display: flex;
      column-gap: 20px;
      animation: buttonIn 3s ease-out forwards;
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 176px;
        height: 54px;
        border-radius: 10px;
        text-decoration: none;
        font-size: 24px;
        font-weight: 900;
        transition: all 0.5s ease;
      }

      .connect {
        background-color: #ffffff;
        border: 2px solid #ffffff;
        color: black;
        &:hover {
          background-color: transparent;
          color: white;
        }
      }

      .discord {
        background-color: #7289da;
        border: 2px solid #7289da;
        color: white;

        &:hover {
          background-color: transparent;
        }
      }
    }

    @keyframes buttonIn {
      from {
        transform: translateY(20px);
        opacity: 0;
      }
      to {
        transform: translateY(0px);
        opacity: 1;
      }
    }
  }

  @media only screen and (max-width: 430px) {
    .content {
      .logoBanner {
        width: 200px;
      }

      .desc {
        font-size: 16px;
      }

      .buttons {
        column-gap: 10px;
        a {
          width: 150px;
          height: 54px;
          font-size: 18px;
        }
      }
    }
  }
}

@keyframes bgAni {
  from {
    transform: scale(1.5);
    filter: blur(2px);
    -webkit-filter: blur(2px);
  }
  to {
    transform: scale(1.1);
    filter: blur(5px);
    -webkit-filter: blur(5px);
  }
}
