* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #000;
}

.navbar {
  max-width: 100%;
  .container-fluid {
    .navbar-brand {
      width: 64px;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-drag: none;
      -webkit-user-select: none;
    }

    .collapse {
      ul {
        li {
          a {
            color: white;
            font-weight: 900;
            font-size: 18px;
            transition: filter 0.3s;

            &:hover {
              filter: brightness(70%);
            }
          }

          .store {
            background: linear-gradient(
              to right,
              #fff 20%,
              #ff0 40%,
              #ff0 60%,
              #fff 80%
            );
            background-size: 200% auto;

            color: #000;
            background-clip: text;
            text-fill-color: transparent;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            animation: shine 4s linear infinite;
            @keyframes shine {
              to {
                background-position: 200% center;
              }
            }
          }
        }
      }
    }

    .navbar-toggler {
      border-color: rgb(255, 255, 255);
      .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
      }
    }
  }
}

.tos {
  color: white;
  margin-top: 50px;
  margin-bottom: 10px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  width: 100%;
  height: max-content;
  background-color: #1e1e1e;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.05);
  border-radius: 10px;
}

// Phones
@media only screen and (max-width: 575px) {
  .tos {
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 98%;
    height: max-content;
    background-color: #1e1e1e;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.05);
    border-radius: 10px;
  }
}
