$primary: #0b96ff;
$discord: #7289da;

body {
  background-color: #f7f6fb;
}

.navbar {
  margin-top: 1%;
  .container {
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
    padding-left: 5%;
    padding-right: 5%;

    .navbar-brand {
      width: 10%;

      img {
        height: 56px;
      }
    }

    .collapse {
      .navbar-nav {
        .nav-item {
          a {
            font-weight: 600;
          }
        }
      }
    }

    .navbar-toggler:focus,
    .navbar-toggler:active,
    .navbar-toggler-icon:focus {
      outline: none;
      box-shadow: none;
    }

    .disc {
      .btn {
        background-color: $primary;
        color: white;
        font-weight: 600;
        padding-top: 6px;
        padding-bottom: 6px;
        border: 2px solid $primary;
        transition: all 0.3s ease;

        &:hover {
          color: $primary;
          background-color: transparent;
        }
      }
    }
  }
}

.tos {
    margin-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100%;
    height: max-content;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}



// Tablets
@media only screen and (max-width: 991px) and (min-width: 576px) {
  .navbar {
    .container {
      .disc {
        .btn {
          margin-bottom: 2%;
        }
      }
    }
  }
}

// Phones
@media only screen and (max-width: 575px) {
  .navbar {
    .container {
      margin-left: 1%;
      margin-right: 1%;
      width: 98%;

      .disc {
        .btn {
          margin-bottom: 2%;
        }
      }
    }
  }

  .tos {
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 98%;
    height: max-content;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}
}
